@media (max-width: 1000px){
    #container{
        width: 90vw;
        #add-section #add-content{
            flex-flow: row wrap;
            input[type=date], input[type=text], select, button, h4{
                margin-top: 10px;
            }
            input[type=text]{
                width:260px;
            }
        }
    }
    #list{
        .container-half{
            margin: 0 10px 20px 10px;
            width: 60%;
        }
        #left{
            .sorting{
                width: 100%;
                // display: flex;
                //justify-content: stretch;
                
            }
        }
    }
}
@media (max-width: 700px){

    #list{
        .container-half{
            width: 80%;
        }
    }
}