// COLORS
$gray: rgb(61, 55, 55);
$light-gray: rgb(195, 189, 189);
$mywhite: rgb(238, 231, 224);
$beige: rgb(220, 207, 198);
//Z projektu AI
$mywhite: rgb(240, 231, 214);
$mywhate-dark: rgb(227, 212, 192);
$light-beige: rgb(215, 164, 116);
$bg-beige: rgb(202, 158, 103);
$bg-pink: rgb(188, 128, 104);

$main-font:  Tahoma, Verdana, Segoe, sans-serif;
//font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

//$lazure: rgb(89, 109, 110);
//$dark-forest: rgb(0, 18, 22);
//rgb(219, 193, 172) rgb(163, 137, 117)
//&#10004; => symbol checked